:root{
    --main-bg:#2E083D;
    --nav-bg:#000;
    --text-color: white;
    --img-radius: 6px;
    --mobile-bp: 580px;
}
/* CSS reset */
*, *::before, *::after { box-sizing: border-box; } 
html,body{height: 100%}

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: var(--main-bg);
}

header{
    background: var(--nav-bg);
}
/* Container rules */
.header__container,.hero_container,.now-playing__container{
    max-width: 1620px;
    margin: 0 auto;
    padding: 0 2em;
}

.header__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_logo{
    width: auto;
}

.header_sign-in{
    width: auto;
}

.header_sign-in a{
    color: var(--text-color);
    margin-left: auto;
    text-decoration: none;
    opacity: .9;
}

.header_sign-in a:hover{
    opacity: 1;
}

.hero{
    position: relative;
    padding: 2em 2em;
    background: var(--main-bg);
    width: 100%;
}

.hero__container{
    display: block;
    align-items: center;
}

.hero picture, .hero img{
    width: 100%;
    height: auto;
    display: block;
    border-radius: var(--img-radius);
}

.now-playing__container{
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    
}

.np_header{
    margin-bottom: 12px;
}

.np_header h2{
    color: var(--text-color);
}

.np_card{
    flex: 1 1 calc(33.333% - 16px);
    min-width: 0;
    padding: 0 ;                
    border-radius: var(--img-radius);
    display: flex;
    margin: 1em
}

.img-responsive{
  width: 100%;
  height: auto;
  display: block;
  border-radius: var(--img-radius);
}
@media (max-width: 580px){
    .np_card{ flex: 1 1 100%;}
}

